## SQLite and its usage with Python

In [1]:
import sqlite3

## Create a connection, a table and add data

In [2]:
# Create connection (db)
conn = sqlite3.connect("practice.db")

In [3]:
# Create a cursor

cur = conn.cursor()

In [4]:
# Create table

cur.execute("CREATE TABLE customer (first_name TEXT, last_name TEXT, income REAL)")

In [5]:
# Insert a row in the table

cur.execute("INSERT INTO customer VALUES ('Sumit', 'Kumar', '0')")

In [6]:
# Save results
conn.commit()

## Connect to an existing database

In [7]:
conn = sqlite3.connect("practice.db")
cur = conn.cursor()

In [8]:
# Run simple query
cur.execute("SELECT * FROM customer")
cur.fetchone()

('Sumit', 'Kumar', 0.0)

In [9]:
for row in cur.execute("SELECT * FROM customer"):
    print(row)

('Sumit', 'Kumar', 0.0)

## Add several rows

In [10]:
customer_list = [
    ("Golu","Singh", 100000),
    ("Sri", "Ambati", 3000),
    ("Sandeep", "Desai", 20000),
    ("Anu", "Gaur", 4020.5)
]

In [11]:
cur.executemany("INSERT INTO customer VALUES (?,?,?)", customer_list)

In [12]:
for row in cur.execute("SELECT * FROM customer"):
    print(row)

('Sumit', 'Kumar', 0.0)
('Golu', 'Singh', 100000.0)
('Sri', 'Ambati', 3000.0)
('Sandeep', 'Desai', 20000.0)
('Anu', 'Gaur', 4020.5)

In [13]:
conn.commit()

In [14]:
conn.close()

## Run queries

In [15]:
conn = sqlite3.connect("practice.db")
cur = conn.cursor()

In [16]:
cur.execute("SELECT * FROM customer WHERE first_name= 'Sumit'")
cur.fetchall()

[('Sumit', 'Kumar', 0.0)]

In [18]:
cur.execute("SELECT * FROM customer WHERE first_name= 'Golu'")
cur.fetchall()

[('Golu', 'Singh', 100000.0)]

In [19]:
cur.execute("SELECT * FROM customer WHERE last_name='Ambati'")
cur.fetchall()

[('Sri', 'Ambati', 3000.0)]

In [20]:
cur.execute("SELECT * FROM customer WHERE last_name='Kuch v'")
cur.fetchall()

[]

In [21]:
cur.execute("SELECT * FROM customer ORDER BY last_name")
cur.fetchall()

[('Sri', 'Ambati', 3000.0),
 ('Sandeep', 'Desai', 20000.0),
 ('Anu', 'Gaur', 4020.5),
 ('Sumit', 'Kumar', 0.0),
 ('Golu', 'Singh', 100000.0)]

In [22]:
cur.execute("SELECT SUM(income) FROM customer")
cur.fetchone()

(127020.5,)

In [23]:
conn.close()